* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: #0a0a0a;
    color: rgb(245, 224, 224);
    font-family: Inter, system-ui, sans-serif;
    overflow-x: hidden;
}

hh .app {
    min-height: 100vh;
}